*{
	margin:0;
	padding:0;
}
body{
	background-color:white;
	color:black;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:1.3em;
	
	margin:0;
	padding:0;
	position:relative;
	overflow-x:hidden;
	
	background-image:url(./Images/Lines.png);
	background-size:100% 100%;
}

main{
	overflow:auto;
	padding-bottom:2em;

	color:white;
}

.container{
	width:90%;
	margin:auto; /* Even amount of margin at both sides */
	position:relative;
}
.clr{
	clear:both;
}

#header{
	margin:0px;
	padding:40px 5%;
	width:100%;
	position:static;
	
	background-color:#00A6D6;
	color: white;
}

#navbar{
	margin:0px;
	padding:10px 5%;
	width:100%;
	background-color:lightgray;
	position:static;
	}
#navbar ul{
	list-style:none;
}
#navbar li{
	display:inline;
	padding-right:25px;
}
#navbar a{
	text-decoration:none;
	color:black;
	font-size:18px
}
.center-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}
.main-button{
	border:white solid 1px;
	padding: 4em 4em;
	
}
.main-button a{
	font-size:50px;
	font-family:'Trebuchet MS', sans-serif;
	text-decoration:none; 
	color:white;
}
/*.horizontal-center{
	position:relative;
	top:50%;
}
.vertical-center{
	display:flex;
	justify-content:center;
	align-items:center;
	height:2em;
	border:red solid 1px;
}

.main-button{
	
	left:30%;
	
	width:20em;
	margin:0 auto;
	padding:1em 0;
	
	text-align:center;
	box-sizing:border-box;
	
	border:white solid 1px;
	
	font-size:25px;
	font-family:'Trebuchet MS', sans-serif;
}*/

#footer{
	width:100%;
	height:2em;
	margin-top:-2em;
	padding:0 5%;
	
	position:fixed;
	bottom:0;
	
	background-color:black;
	color:white;
	
	display:flex;
	align-items:center;
	justify-content:space-between;
	overflow:hidden;
	white-space:nowrap;
}



.footer_text{	
	float:left;
	width:90%;
	box-sizing:border-box;
}
.footer_linkedin{
	float:right;
	width:10%;
	box-sizing:border-box;
}
.footer_linkedin img{
	height:80%;
	width:auto;
	box-sizing:border-box;
}